@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
}

:root {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  user-select: none;
  -webkit-user-drag: none;
}

.smooth-transition {
  @apply transition-colors duration-500 ease-in-out;
}

.close-nav {
  width: 75px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Loading dots */
.loader {
  width: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
  transform: translateX(-38px);
  animation: l21 1s infinite alternate linear;
}

@keyframes l21 {
  50% {
    box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px;
  }
  100% {
    box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px;
  }
}

/* Animations */

@theme {
  --animate-toast-in: toastIn 0.3s cubic-bezier(0.22, 1, 0.36, 1);
  --animate-toast-out: toastOut 0.4s cubic-bezier(0.22, 1, 0.36, 1);
  --animate-pulse-strong: pulse-strong 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes toastIn {
  from {
    opacity: 0;
    transform: translateX(22px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes toastOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(22px);
  }
}

@keyframes pulse-strong {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
}
